@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito.ttf");
}

@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.radio-checked:checked {
  @apply border-pcPrincipal bg-pcPrincipal;
}

.inputForm {
  @apply w-full h-[50px] border-b-[1px] border-pcPrincipal p-3 outline-none text-sc;
}

.inputFormError {
  @apply text-red-400 text-xs;
}
