@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito.ttf");
}

@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 8px;
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0; 
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #24ba63;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #1f9f56;
  }
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #fafafa;
}

.radio-checked:checked {
  @apply border-pcPrincipal bg-pcPrincipal;
}

.inputForm {
  @apply w-full h-[50px] border-b-[1px] bg-pcSecondary border-pcPrincipal p-3 outline-none text-sc transition-all duration-300 focus:bg-pcPrincipal/10;
}

.inputFormError {
  @apply text-red-400 text-xs;
}

.custom-popup {
  background-color: #28a745;
  color: white; 
}

.custom-title {
  font-size: 24px;
}

.custom-text {
  font-size: 16px;
  color: #333;
}
